.audio-player {
  display: flex;
  flex-wrap: wrap;
}

.play-pause {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../../icons/play.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  &:hover {
    border-radius: 5px;
    box-shadow: 0px 1px 8px 4px rgba(0, 137, 102, 0.8);
  }
}

.play-song {
  background-image: url("../../icons/pause.svg");
}

.volume {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../../icons/speaker-high.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  &:hover {
    border-radius: 5px;
    box-shadow: 0px 1px 8px 4px rgba(0, 137, 102, 0.8);
  }
}

.volume-slash {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../../icons/speaker-slash.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.volume-line {
  @extend %transition;
  width: 20rem;

  align-self: center;
  height: 4px;
  border-radius: 5px;
  accent-color: #008966;
  cursor: pointer;
  border-color: #008966;

  &:hover {
    accent-color: #008966;
  }

  @include media-tablet {
    width: 12rem;
  }

  @include media-mobile {
    width: 10rem;
  }

  @include media-small-mobile {
    width: 12rem;
  }
}

.progress-line {
  align-self: center;
  width: calc(100% - 55px);
  height: 4px;
  border-radius: 5px;
  accent-color: #008966;
  cursor: pointer;
  border-color: #008966;

  &:hover {
    accent-color: #008966;
  }
}

.play-pause {
  margin-right: 15px;
}

.bird__time {
  margin-top: 5px;
  padding-left: 5rem;
  font-size: 1.2rem;
  width: 100%;
  color: $color-white;

  display: flex;
  justify-content: space-between;
}

.volume {
  margin-right: 15px;
}
