html {
  font-size: 10px;
}

body {
  @extend %font-main;
  @include font(1.6rem, 1.4, 500);
  display: flex;
  flex-direction: column;
  background-color: $color-main;
}

h1 {
  @include font(1.8rem, 0.8, 700);
  padding-top: 30px;
}

h2 {
  @include font(1.8rem, 0.8, 700);
}

h3 {
  @include font(2.4rem, 0.8, 500);
  color: $color-white;
}

p {
  @include font(1.8rem, 0.8, 500);
}
