.header {
  padding-top: 15px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  @extend %transition;
  min-width: 200px;
  height: 55px;
  background-size: cover;
  background-image: url("../../logo/logo.svg");
  background-repeat: no-repeat;

  @include media-tablet {
    background-size: contain;
    min-width: 145px;
    height: 40px;
  }

  @include media-mobile {
    background-image: url("../../logo/birds.svg");
    min-width: 135px;
    height: 100px;
  }
}
