@mixin font($size, $height: $size, $weight: 400, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin media-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: 580px) {
    @content;
  }
}

@mixin media-small-mobile {
  @media (max-width: 480px) {
    @content;
  }
}
