<div class="quiz-title">
  <h2 class="quiz-title__text">Score: <span class="quiz-title__score">00</span></h2>
  <ul class="quiz-list">
    <li class="quiz-item active" id="0">Разминка</li>
    <li class="quiz-item" id="1">Воробьиные</li>
    <li class="quiz-item" id="2">Лесные птицы</li>
    <li class="quiz-item" id="3">Певчие птицы</li>
    <li class="quiz-item" id="4">Хищные птицы</li>
    <li class="quiz-item" id="5">Морские птицы</li>
  </ul>
</div>
<div class="quiz-random-bird">
</div>
<div class="answer-options">
  <div class="answer-options__container">
  </div>
  <div class="answer-options__container">
    <p class="answer-options__discription">
      <span>Послушайте плеер.</span>
      <span>Выберите птицу из списка</span>
    </p>
  </div>
  <div class="answer-options__button button-container">
    <button class="btn" id="btn-next" disabled>Next Level</button>
  </div>
</div>